.search-result-header {
  height: 30px;
  background: #e6e7e8;
}

.search-product {
  border-bottom: 1px solid #f1f1f2;
  padding: 5px 0;
}

.product-image {
  width: 75px;
  height: 75px;
}

.price {
  color: #b11c1e;
  font-weight: bold;
  text-align: center;
}

.oldPrice {
  color: #c57165;
  text-decoration: line-through;
  font-weight: 600;
  width: 50%;
}

.discount {
  color: #98808b;
  font-weight: 600;
  width: 50%;
}

.price-des {
  width: 100%;
}
